body {
    background-image: url("assets/images/rain.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

#search {
    background-color: rgba(0, 0, 0, 0.75);
}

#searchAndBtns {
    background-color: rgba(2, 2, 2, 0.75);
    color: white;
    width: 40%;

}

#todayFromSearch {
    background-color: rgba(2, 2, 2, 0.75);
    color: white;
    width: 25%;


}

#firstBox {
    width: 100%;
    height: auto;
    padding: 5px;
    margin-right: 5px;
}


/* forecast day 1 */
#dayBox1 {
    background-color: rgba(2, 2, 2, 0.75);
    color: white;
}

/* forecast day 2 */
#dayBox2 {
    background-color: rgba(2, 2, 2, 0.75);
    color: white;
}

/* forecast day 3 */
#dayBox3 {
    background-color: rgba(2, 2, 2, 0.75);
    color: white;
}

/* forecast day 4 */
#dayBox4 {
    background-color: rgba(2, 2, 2, 0.75);
    color: white;
}

/* forecast day 5 */
#dayBox5 {
    background-color: rgba(2, 2, 2, 0.75);
    color: white;
}