/* =================== 
    header border
=================== */

header {
    width: auto;
    height: 70px; 
    background-color: #333366;
}

h1 {
    color: gray;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

/* ===================
    search bar section 
=================== */

/* div section */
#searchBox {
    border:solid;
    border-color: gray;
    max-width: 30%;
}


/* city buttons under search bar */
.cities {
    display: block;
    margin: 10px;
    width: 100px;
}

/* ===================
    todays forecast 
=================== */
/* div section */
#todayBox {
    border:solid;
    border-color: gray;
}


/* ===================
    5day forecast 
=================== */
#5dayBox {
    border:solid;
    border-color: gray;
    width: 30%;
}

